<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

<div class="hero">



    <div class="navbar">

        <img src="/media/mainlogo.png" alt="" class="logo">
        <ul>
            <li>home</li>
            <li>about</li>
            <li>our program</li>
            <li>donait</li>
            <li>contact us</li>
        </ul>

        <button>join us</button>


    </div>


    <div class="main">
        <img src="/media/mouse.png" alt="mouse icon" class="mouse" href="mm">

<div class="left">

<div class="cntnt">

<!-- <p class="welcom">welcom to wladna envirment </p> -->
<div class="subtitel">

<h1>Empowering Science <br> Restoring Human Hope</h1>
<p>Fighting Cancer Together with Hope and Science <br> Navigate your journey with confidence. We provide the expert insights, <br> advanced resources, and compassionate support you need to move forward, <br> every step of the way</p>


</div>
<button class="btnhero">join the journey</button>




</div>
















</div>



<div class="right">

    <img src="/media/favorites-star-sketch.png" alt="" class="sketch">


    <div class="card1">
        <img src="/media/kids.jpg1.png" alt="" class="cardkid">
        <button class="crdbtn">join our team to help</button>

<div class="minicrd">
<p><span>+20k</span>  Volunteer by money by blod </p>

<div class="profile-group">
  <img src="/media/doc.png" alt="Doctor 1" class="avatar">
  <img src="/media/kids.jpg1.jpg" alt="Doctor 2" class="avatar">
  <img src="/media/kid.jpg" alt="Doctor 3" class="avatar">
  <div class="avatar-count">+500</div>
</div>


</div>





    </div>




</div>





















        
    </div>

</div>







<div class="mm" id="mm">


    <div class="one">
        <div class="side">
            <img src="/media/quote.png" alt="" class="quote">
<button class="sidebtn">about us</button>
<h1>A Beacon of Hope  <br> in Every Journey</h1>
<p>We are a community <br>
     of experts and volunteers dedicated to turning breakthrough science into human healing <br>
      Through research and compassion, we ensure no one fights cancer alone.</p>





        </div>






        <div class="side1">
            <div class="gg">

                <h1>be one of <br> the donaiters </h1>
                <div class="cards2">

                    <div class="sdcrd">
                        <div class="ttl">
                            <h1>+20%</h1>
                            <img src="/media/right-up.png" alt="">
                        </div>
                        <p>event montly <br>organaized</p>

                    </div>




                                        <div class="sdcrd">

  <div class="ttl">
                            <h1>+12k</h1>
                            <img src="/media/right-up.png" alt="">
                        </div>
                        <p>child get helped br by our assosiation</p>

                                        </div>


                </div>



            </div>

        


        </div>

    </div>




    <div class="two"></div>




</div>








   <script src="https://kit.fontawesome.com/8723d692ff.js" crossorigin="anonymous"></script> 
</body>
</html>