<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>



<div class="nav">
    <!-- <img src="/media/mainlogo.png" alt=""> -->
    <ul>
        <li>home</li>
        <li>about</li>
        <li>donaite</li>
        <li>contact</li>
    </ul>

    <button>join us </button>

</div>




<div class="hero">


    <div class="subtitel">
<h1>No <span class="sty">child</span>   <br> should fights <br>  cancer<br> alone</h1>

<div class="btns">

  <button class="btn2">
  <span class="spn2">Donaite</span>
</button>




  <button class="btn3">
  <span class="spn2">JOin us</span>
</button>

  
    
    
</div>



       
    </div>
    

</div>





<div class="about">

 










    <div class="abt2">








        <div class="leftabt2">

            <div class="bild">
                <h1> <span class="sty1">Helping</span>   <br>children with cancer, <br> supporting their families.</h1>
                <p>We support children with cancer through <br> medical and emotional care, <br> helping families feel supported and never alone.</p>
            </div>




            <div class="ppl">
                <p>Medical and emotional support <br> for children with cancer</p>
                <p>so families never face this journey alone</p>
                <div class="end">
                    <button>join us <i class="fa-solid fa-arrow-right"></i></button>



                    <div class="avatar-stack">
  <div class="avatar">
    <img src="https://i.pravatar.cc/150?u=1" alt="Team Member 1">
  </div>
  
  <div class="avatar">
    <img src="https://i.pravatar.cc/150?u=2" alt="Team Member 2">
  </div>
  
  <div class="avatar">
    <img src="https://i.pravatar.cc/150?u=3" alt="Team Member 3">
  </div>
  
  <div class="avatar count">
    <span>+728</span>
  </div>
</div>
                    
                
                </div>
            </div>





            

        </div>





        <div class="rightabt2">

            <div class="grid1">

                <div class="ons">

                    <div class="slid">
                        <p>Where hope grows <br>miracles happen</p>
                    </div>
                </div>




                <div class="ons1">
                    <h3>why us</h3>
                    <p>Compassionate Care <br> We support every child and  <br>family with love, <br> understanding, and hope.</p>
                </div>
            </div>



            <div class="grid2">

                
                <div class="tws">
                    <h3>Medical Assistance</h3>
                    <p> Helping children <br> access the treatment  <br> and resources <br>they need is our priority.</p>
                    <p>No child should face cancer alone</p>
                </div>


                <div class="tws1">
                                        <div class="slid"><p>Nurturing Hope, <br> Empowering Heroes</p></div>

                </div>
            </div>



            <div class="grid3">
                <div class="trs">
                                        <div class="slid1"><p>Advanced Care for Little Fighters</p></div>

                </div>
                <div class="trs1">
                    <h3>Community of Hope</h3>
                    <p> Together, we build a network of support <br> that strengthens children <br> and families.</p>
                    <p>Every action we take brings real, meaningful change to the lives of children with cancer.</p>
                </div>
            </div>



        </div>






    </div>






</div>




<div class="ourvesion">





    <div class="headlin">
        <h1> <img src="/media/star.png" alt="" height="60px"> Planting seeds of hope,  harvesting smiles  <br> of health</h1>
    </div>





<div class="bothe">
    <div class="right">
        <div class="range">
            <div class="in"></div>
        </div>

        <div class="titels">
            <h1>Planting Seeds of Hope, Harvesting a Future of Healing</h1>
            <p>We are dedicated to providing comprehensive support for children battling cancer. By combining advanced medical assistance with emotional care, we create a sanctuary of hope for families.</p>
            <h2>Together, we stand beside children and families, ensuring no child has to face the journey of cancer alone.</h1>
            <h2>Empowering little heroes in their biggest fight</h1>
        </div>


    </div>




    <div class="left">
        <div class="image">

<img src="/media/group-kids-lecture-time.jpg" alt="">


        </div>
    </div>
</div>





<div class="ourend">


    <div class="ph">
        <img src="/media/dots-green.svg" alt="" class="bigl">
        <div class="cader">
        </div>
    </div>




    <div class="exp">

        <button>ABOUT US</button>
        <h1>Standing with children and families in their  <br>fight against cancer</h1>
<p>We are a caring community dedicated to supporting children with cancer <br> and the families who love them. Through medical support, emotional care, <br> and hope-driven programs, we work every day to make sure no child fights cancer alone.</p>



<div class="cards">

    <div class="crd1">
        <img src="/media/hospital.png" alt="">
        <h2>Our Mission</h2>
        <p>Our mission is to improve the lives of children with cancer by providing medical assistance, emotional support, and guidance for families. We focus on healing not only the body, but also the heart.</p>
    </div>

    <div class="crd1">

        <img src="/media/helping-hand.png" alt="">
        <h2>Who We Are</h2>
        <p>We bring together doctors, volunteers, donors, and families with one shared mission: to protect childhood, even in the hardest moments. We believe every child deserves care, dignity, and a future full of hope.</p>

    </div>


</div>






    </div>

</div>





</div>





<div class="howtohelp">

<div class="part">



    <div class="prttitl">
<img src="/media/asterisk (1).png" alt="" class="ass">

        <h1 class="be">Be Part of</h1>
        <h1 class="lrn" >the Journey  <span class="ofho"> of Hope</span></h1>
        <h1 class="str">Strength</h1>
        <h1 class="and">and Healing</h1>


    </div>




    <div class="prtcrd">
        <button> be a part</button>
<p>Being part of this journey <br> means standing <span>with</span>  children fighting <br> cancer and supporting families during dif<span>ficult times. </span> <br> Your help br<span>ings hope</span>, comfort, and care when it is needed most        
</p>
    </div>



</div>

<div class="howdwn">



    <div class="grn">

        <div class="btn">


            <button class="grbtn1">join our brave journey </button>
            <button class="grbtn2">donaite </button>
            <button class="grbtn3">bothe</button>
        </div>


        <div class="howtht">

            <h1>fokafige</h1>
            <div class="picon">

                <p>
                    Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit. Quam rerum eaque error, <br> beatae numquam illo quia perferendis? Repellat quam  <br>impedit suscipit, magnam commodi vero odio dolorum consequatur <br> 
</p>
                <img src="/media/right-up.png" alt="">

            </div>
        </div>





    </div>





    <div class="howgrd">


        <div class="wotop"></div>


<div class="wodwn"></div>


    </div>




</div>


   


</div>







    <script src="https://kit.fontawesome.com/8723d692ff.js" crossorigin="anonymous"></script>
</body>
</html>