@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: whitesmoke;
    color: black;
         font-family: BBH Hegarty;
           /* font-family:Bebas Neue ; */



}
.nav{
    height: 10vh;
    position: fixed;
    width: 100%;
  background-color: rgba(255, 255, 255, 0.104);
      display: flex;
    justify-content: right;
     backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px); 
    align-items: center;
    gap: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 99;
}
.nav ul{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 100px;
 list-style: none;
 font-size: 20px;

}

.nav li{
    position: relative;
    padding-bottom: 3px;
    cursor: pointer;
     font-family: BBH Hegarty;
     color: white;
          letter-spacing: 1px;

}

.nav li::before{
    content: '';
    position: absolute;
    height: 0px;
    width: 100%;
    bottom: 0;
    left: -50%;
        transition: 0.5s ease;

    background-color: rgb(255, 255, 255);

}
.nav li:hover::before{
        left: 0;
            height: 1px;




}
.nav img{
    height: 100%;
}
.nav button{
    padding: 9px 30px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
         font-family: BBH Hegarty;

}

.hero{
    height: 100vh;
    width: 100%;
  
    background-image: url(../media/child-having-medical-checkup.jpg);
    background-position: center;
    background-size: cover;
  
}
.subtitel{
    height: 100%;
    width: 80%;
    background-image: url(/media/darckblue.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    font-family: BBH Hegarty;
    padding-left: 30px;
    font-size: 40px;
    color: white;
    text-shadow: black 5px 5px 0px;
    letter-spacing: 3px;
    z-index: 100;
}
.btns{
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.minisub{
    font-size: 15px;
    font-family: popping;
    text-shadow: none;
}

.sty{
   width: 400px; /* يمكنك تغيير الحجم حسب رغبتك */
  height: 250px;
  background-color: #1e5678; /* لون الخلفية */
  border: 2px solid #000;
  clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
  
}



/* From Uiverse.io by TISEPSE */ 
.btn2 {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.btn2::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% + 2px);
  background-color: #046eaf;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #fefefe;
}

.btn2 .spn2 {
  position: relative;
  z-index: 3;
  text-decoration: none;
  border: none;
  background-color: transparent;
}




.btn3 {
  position: relative;
  display: inline-block;
  padding: 15px 70px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.btn3::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% + 2px);
  background-color: #2a56a9;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn3::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn3:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn3:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn3:hover {
  border: 2px solid #fefefe;
}

.btn3 .spn2 {
  position: relative;
  z-index: 3;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.minisub2{
     font-size: 15px;
    font-family: popping;
    text-shadow: none;
        font-family: BBH Hegarty;
            letter-spacing: 1px;


}
.minisub2 span{
    font-size: 20px;
    font-family: BBH Hegarty;
}

.arrow{
    height: 40px;
}
.about{
    height: 100vh;
    width: 100%;
}
.abt1{
    height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
flex-direction: column;
}
.abt2{
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.one {
    height: 33%;
    width: 100%;
    color:#1e5678;
     text-shadow: rgb(54, 54, 54) 5px 5px 0px;
    letter-spacing: 4px;
        font-family: BBH Hegarty;
font-size: 120px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.two{
     height: 33%;
    width: 100%;
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.tree{
     height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sun{
    position: absolute;
    height: 80px;
    bottom: 0;
    left: 30px;
}
.two p {
    border-right: solid #222 1px;
    padding-right: 100px ;
    letter-spacing: 1px;
}
.quote{
    height: 60px;
    position: absolute;
    top: 0;
    right: 20px;
}
.one span{
    color: #046eaf;
}
.photos{
    height: 100%;
    width: 70%;
    background-image: url(/media/copy-space-childrens-with-book-their-heads.jpg);
    background-size: cover;
}
.side{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    letter-spacing: 1px;
}
.side button{
    height: 40px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
     font-family: BBH Hegarty;
            letter-spacing: 1px;
            border: none;
            background-color: #046eaf;
            box-shadow: #222 3px 3px 0px;
            transition: 0.5s;
}

.side button:hover{
    background-color: #0a81cb;
    gap: 8px;
}
.side button:active{
                box-shadow: #222 0px 0px 0px;

}
.rightabt2{
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.grid1{
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.grid2{
    height: 100%;
  width: 33%;
   display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.grid3{
 height: 100%;
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.ons{
  height: 60%;
  width: 95%;
  background-color: black;
  border-radius:20px ;
  background-image: url(/media/pexels-cottonbro-6202810.jpg);
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: end;
}
.ons1{
    height: 35%;
  width: 95%;
  background-color: black;
  border-radius:20px ;
  background-image: url(/media/dddepth-337.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 15px;
  gap: 25px;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.ons1 h3 {
  border-bottom: solid 0.5px black;
  padding-bottom: 5px;
}

.tws{
  height: 47%;
  width: 95%;
  background-color: rgb(212, 40, 40);
  border-radius:20px ;
  background-image: url(/media/dddepth-328.jpg);
  background-size: cover;
display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 15px;
  gap: 25px;
  letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.tws h3 {
  border-bottom: solid 0.5px black;
  padding-bottom: 5px;
  font-weight: 900;
}

.tws1{
    height: 47%;
  width: 95%;
  background-color: black;
  border-radius:20px ;
    display: flex;
  justify-content: start;
  align-items: end;
   background-image: url(/media/efc9068b8992430ddffcc1736741c136.jpg);
  background-size: cover;
}
.trs{
    height: 35%;
  width: 95%;
  background-color: black;
  border-radius:20px ;
      display: flex;
  justify-content: start;
  align-items: end;
   background-image: url(/media/front-view-positive-woman-with-cancer.jpg);
  background-size: cover;
}
.trs1{
   height: 60%;
  width: 95%;
  background-color: black;
  border-radius:20px ;
  background-image: url(/media/dddepth-237.jpg);
  background-size: cover;
display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 15px;
  gap: 25px;
  letter-spacing: 2px;
  font-weight: bold;
}
.trs1 h3 {
  border-bottom: solid 0.5px black;
  padding-bottom: 5px;
  font-weight: 900;
}
.leftabt2{
  height: 100%;
  width: 40%;
}


.bild{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
  gap: 20px;
 
}
.sty1{
     width: 400px; /* يمكنك تغيير الحجم حسب رغبتك */
  height: 250px;
  background-color: #1e5678; /* لون الخلفية */
  border: 2px solid #000;
  clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
  font-size: 70px;
}
.bild h1{
  border-right: solid 1px black;
  padding-right: 50px;
}
.ppl{
    height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  letter-spacing: 2px;
  background-color: white;
}

.avatar-card {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
}

.avatar-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.avatar-name {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
}

.avatar-role {
    font-size: 14px;
    color: #777;
}


/* حاوية الأفاتارات */
.avatar-stack {
  display: flex;
  align-items: center;
  /* لبدء المحاذاة من اليسار */
  padding-left: 15px; 
}

/* نمط الأفاتار الفردي */
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #000000; 
  overflow: hidden;
  margin-left: -12px; 
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* تأثير عند تمرير الماوس */
.avatar:hover {
  transform: translateY(-5px);
  z-index: 10;
}

/* تنسيق الصور داخل الدوائر */
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* تنسيق دائرة العدد (+728) */
.avatar.count {
  background-color: #F1ECE3; /* لون بيج فاتح كما في الصورة */
  color: #333;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #F9F7F5;
}
.end{
     height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 2px;

  
}
.end button{
    height: 40px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
     font-family: BBH Hegarty;
            letter-spacing: 1px;
            border: none;
            background-color: #046eaf;
            box-shadow: #222 3px 3px 0px;
            transition: 0.5s;
}

.end button:hover{
    background-color: #0a81cb;
    gap: 8px;
}
.end button:active{
                box-shadow: #222 0px 0px 0px;

}

.ppl p{
  padding-left: 10px;
}
.bild p {
  color: rgb(63, 61, 61);
  font-family: popping;
  align-self: flex-start;
  padding-left: 10px;
}

.slid{
  height: 60px;
  width: 60%;
  border-radius: 0% 70px 70px 0px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: popping;
  font-size: 17px;
  box-shadow: #22222253 5px 5px 3px;

  border: solid 0.5px rgba(0, 0, 0, 0.248) ;
  border-left: none;
}

.slid1{
  height: 60px;
  width: 60%;
  border-radius: 0% 70px 70px 0px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: popping;
  font-size: 16px;
  padding-left: 17px;
    box-shadow: #22222253 5px 5px 3px;

  border: solid 0.5px rgba(0, 0, 0, 0.593) ;
  border-left: none;
}

.end button i{
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content:  center;
  align-items: center;
}
  /* Bebas Neue */

.ourvesion{
  height: 100vh;
    font-family:Bebas Neue ;


}
.headlin{
  height: 20%;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family:Bebas Neue ;
}

.bothe{
height: 50%;
width: 100%;
background-color: yellow;


}
.right{
  height: 100%;
  width: 50%;
  background-color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.titels{
  height: 100%;
  width: 80%;
  background-color: #2a56a9;
}
.range{
  height: 80%;
  width: 4px;
  background-color: #979797;
  border-radius: 20px;
}
.in{
  height: 70%;
  width: 120%;
  background-color: #046dafb5;
  border-radius: 20px 20px 0px 0px;
}